{% extends 'base.html' %}

{% block page_content %}
    <div class="container-fluid">
        <div class="header">
            <h1 class="text-center py-4">Courses Page</h1> 
        </div>

        {% if current_user.is_authenticated %}
        <div class="container-fluid d-flex text-white bg-dark bg-gradient">
            <h3 class="p-3">Manage courses</h3>
            <div class="p-3 ms-auto align-items-center">
                <a href="{{ url_for('main.create_course') }}" class="btn btn-success">Add New Course</a>
            </div>
        </div>
        {% endif %}

        <div class="row row-cols-1 row-cols-md-4 g-4 py-4">
            {% if not courses %}
            <div class="container">
                <h3 class="text-center">No courses availiable :(</h1>
            </div>
            {% else %}
            {% for course in courses %}
                {% include '_course.html' %}
            {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
