{% extends 'base.html' %}

{% block page_content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <h1 class="px-3">{{ course.label }}</h1>
        </div>
        <div class="row">
            <p class="px-3">{{ course.small_desc }}</p>
        </div>
        <div class="row">
            <p class="px-3 py-1 text-muted">Created by: {{ course.author }}</p>
        </div>
    </div>
    <div class="card-body">
        <div class="container-fluid d-flex">
            <h3>Enrolled users</h3>
            {% if course not in current_user.enrolled_courses() %}
            <div class="ms-auto align-items-center">
                <a href="{{ url_for('main.enroll', course_id=course.id) }}" class="btn btn-success">Enroll</a>
            </div>
            {% else %}
            {% endif %}
        </div>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-1" scope="col">#</th>
                    <th class="col" scope="col">Username</th>
                    <th class="col" scope="col">First name</th>
                    <th class="col" scope="col">Second name</th>
                    <th class="col-1" scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                {% for user in course.users %}
                    <tr>
                        <th scope="row" class="align-middle">{{ loop.index }}</th>
                        <td class="align-middle">{{ user.username }}</td>
                        <td class="align-middle">{{ user.first_name }}</td>
                        <td class="align-middle">{{ user.second_name }}</td>
                        <td class="align-middle">
                            <a href="{{ url_for('main.expell', user_id=user.id, course_id=course.id) }}" 
                            class="btn btn-danger">Expell</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}